body{
    font-family: 'Crimson Pro', serif;
font-family: 'Faustina', serif;
font-family: 'Island Moments', cursive;
font-family: 'Lora', serif;
font-family: 'Luxurious Roman', cursive;
font-family: 'Noto Serif', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Rokkitt', serif;
}
h1{
   font-size: 50px;
   border-left: 5px solid;
   border-image: linear-gradient(rgb(235, 121, 140), rgb(82, 21, 196));
   border-image-slice: 1;
   
   
    
}
h2{
    font-size: 30px;
    
}
.likha-boro{
    font-size: 20px;

}
.lightcoral{
    
   color: lightcoral; 

}
.flex-con{
    display: flex;    
}
.half-width{
    width: 50%;
    padding-left: 10%;
    padding-top: 2%;
    
} 
.half-width img{
    width: 60%;
}
.link-button{
    text-decoration: none;
    background-image:linear-gradient(rgb(241, 76, 241), pink);
    padding: 8px 10px ;
    color: rgb(32, 25, 25);
    font-weight: 600;
    border-radius: 5px;
}
.mission-center{
    font-size: 40px;
    font-weight: 400;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
#mvg1{
   width: 60%;
   margin-left: 40px;
   margin-right: 20px;
   padding-left: 30px;
   padding-right: 30px;
   border-radius: 20px;
   box-shadow: 10px 10px 30px grey;
   background-color: rgb(247, 204, 227);
   
   
}
#mvg2{
    width: 60%;
   margin-left: 40px;
   margin-right: 20px;
   padding-left: 30px;
   padding-right: 30px;
   border-radius: 20px;
   box-shadow: 10px 10px 30px grey;
   background-color: rgb(208, 234, 255);
}   
 #mvg3{
    width: 60%;
    margin-left: 40px;
    margin-right: 20px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 20px;
    box-shadow: 10px 10px 30px grey;
    background-color: rgb(250, 246, 185);
    
 }